@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  overflow-x: hidden;
  background: linear-gradient(45deg, #000000, #0c0c0c, #000000, #000000, #000000);
}

p {
  font-family: 'Roboto Mono', monospace;
}

input {
  outline: none;
  border: none;
  padding-left: 4px;
}

#particles-js {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.lf-player-controls {
  opacity: 0;
}

.optionAnimate {
  transition: .5s ease-in-out;
  transform: rotate(45deg);
}

.optionAnimateReverse {
  transition: .5s ease-in-out;
  transform: rotate(-45deg);
}

/* DEFAULT THEME */
.navDefaultTheme {
  box-shadow: inset 0 0 0px #fffcfd, 0 0 16px #14ffc4;
  border-right: #38A169 solid 1px;
  color: #93e7ba;
}

.configDefaultTheme {
  box-shadow: inset 0 0 0px #fffcfd, 0 0 8px #04ffc0;
  border: 1px solid #5bddae;
}

.cvButtonDefaultTheme {
  border: #93e7ba solid 2px;
  box-shadow: inset 0 0 0px #fffcfd, 0 0 8px #93e7ba;
}

.hoverNav:hover {
  border-bottom: 2px #f100b5 solid;
}

.hoverNavThemeDefault:hover {
  border-bottom: inherit;
}

/* DEFAULT THEME END */

/* PURPLE THEME */
.navPurpleTheme {
  box-shadow: inset 0 0 0px #fffcfd, 0 0 32px #5c1369;
  border-right: 1px solid rgb(194, 0, 201);
  color: #a518be;
}

.configPurpleTheme {
  box-shadow: inset 0 0 0px #fffcfd, 0 0 8px #cf06f3;
  border: 1px solid #cf06f3;
}

.cvButtonPurpleTheme {
  border: #5c1369 solid 2px;
  box-shadow: inset 0 0 0px #fffcfd, 0 0 16px #5c1369;
}

/* PURPLE THEME END */

/* PINK THEME */
.navPinkTheme {
  box-shadow: inset 0 0 0px #fffcfd, 0 0 32px #B83280;
  border-right: 1px solid #B83280;
  color: #B83280;
}

.configPinkTheme {
  box-shadow: inset 0 0 0px #fffcfd, 0 0 16px #db0883;
  border: 1px solid #f07cb2;
}

.cvButtonPinkTheme {
  border: #db0883 solid 2px;
  box-shadow: inset 0 0 0px #fffcfd, 0 0 16px #B83280;
}

/* PINK THEME END */




.shadow-js {
  box-shadow: inset 0 0 15px #f3d10f, 0 0 16px #f3d10f;
}

.shadow-react {
  box-shadow: inset 0 0 15px #0466f8, 0 0 16px #0466f8;
}

.shadow-tailwind {
  box-shadow: inset 0 0 15px #3a87fc, 0 0 16px #5297ff;
}

.shadow-sql {
  box-shadow: inset 0 0 15px #4479A1, 0 0 16px #4479A1;
}

.shadow-docker {
  box-shadow: inset 0 0 15px #2496ED, 0 0 16px #2496ED;
}

.shadow-node {
  box-shadow: inset 0 0 15px #68A063, 0 0 16px #68A063;
}

html.sr .load-hidden {
  visibility: hidden;
}

.bounce {
  animation-name: bounce;
  animation: bounce 1s infinite;
  animation-fill-mode: both;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY();
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(1%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

#titleAnimation::after {
  content: '|';
  animation: titleAnima 1s infinite ease-in-out;
  color: rgb(97, 255, 181);
}

@keyframes titleAnima {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.textAnimate {
  animation: textAnimate ease-in 6s;
}

@keyframes textAnimate {
  0% {
    opacity: 0;
    position: relative;
    top: 100%;
  }

  50% {
    opacity: 0;
    position: relative;
    top: 50%;
  }

  100% {
    opacity: 1;
    position: relative;
    top: 0;
  }
}